{% extends 'base.html.twig' %}

{% block title %}New ExamenNeurologique{% endblock %}

{% block body %}
    <h1>Create new ExamenNeurologique</h1>

    {{ include('examen_neurologique/_form.html.twig') }}

    <a href="{{ path('app_examen_neurologique_index') }}">back to list</a>
{% endblock %}
