{% extends 'base.html.twig' %}

{% block title %}Nouveau Patient | Clinique Nasarawa{% endblock %}

{% block body %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card">
            <div class="card-header bg-soft-primary">
                <h5 class="card-title mb-0">Enregistrement Patient</h5>
            </div>
            <div class="card-body">
                <form id="patientForm">
                    <div class="row g-3">
                        <div class="col-md-6">
                            <label class="form-label">Nom</label>
                            <input type="text" class="form-control" placeholder="Nom du patient" required>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Prénom</label>
                            <input type="text" class="form-control" placeholder="Prénom" required>
                        </div>
                        
                        
                        <div class="col-md-4">
                            <label class="form-label">Date de Naissance</label>
                            <input type="text" class="form-control" id="cleave-date" placeholder="JJ/MM/AAAA" required>
                           
                        </div>

                        <div class="col-md-4">
                            <label class="form-label">Sexe</label>
                            <select class="form-select" required>
                                <option value="Masculin">Masculin</option>
                                <option value="Féminin">Féminin</option>
                            </select>
                        </div>

                        
                        <div class="col-md-4">
                            <label class="form-label">Groupe Sanguin</label>
                            <input type="text" class="form-control" placeholder="Ex: O+, A- ou Inconnu">
                        </div>

                        <div class="col-md-6">
                            <label class="form-label">Téléphone</label>
                            <input type="tel" class="form-control" placeholder="00 00 00 00">
                        </div>
                        
                        <div class="col-md-6">
                            <label class="form-label">Profession</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>

                    <div class="mt-4 hstack gap-2 justify-content-end">
                        <button type="button" class="btn btn-light" onclick="history.back()">Annuler</button>
                        <button type="submit" class="btn btn-success">Enregistrer le dossier</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# Import de Cleave.js pour le masque de saisie #}
    <script src="{{ asset('assets/libs/cleave.js/cleave.min.js') }}"></script>
    
    <script>
        
        if (document.querySelector('#cleave-date')) {
            new Cleave('#cleave-date', {
                date: true,
                delimiter: '/',
                datePattern: ['d', 'm', 'Y']
            });
        }
    </script>
{% endblock %}