<div class="col-auto layout-rightside-col">
    <div class="overlay"></div>
    <div class="layout-rightside">
        <div class="card h-100 rounded-0">
            <div class="card-body p-0">
                <div class="p-3">
                    <h6 class="text-muted mb-0 text-uppercase fw-semibold">Recent Activity</h6>
                </div>
                <div data-simplebar style="max-height: 410px;" class="p-3 pt-0">
                    <div class="acitivity-timeline acitivity-main">
                        {# Activity items #}
                        <div class="acitivity-item d-flex">
                            <div class="flex-shrink-0 avatar-xs acitivity-avatar">
                                <div class="avatar-title bg-success-subtle text-success rounded-circle material-shadow">
                                    <i class="ri-shopping-cart-2-line"></i>
                                </div>
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h6 class="mb-1 lh-base">Purchase by James Price</h6>
                                <p class="text-muted mb-1">Product noise evolve smartwatch</p>
                                <small class="mb-0 text-muted">02:14 PM Today</small>
                            </div>
                        </div>
                        {# ... autres activités ... #}
                    </div>
                </div>

                {# Top Categories #}
                <div class="p-3 mt-2">
                    <h6 class="text-muted mb-3 text-uppercase fw-semibold">Top 10 Categories</h6>
                    <ol class="ps-3 text-muted">
                        <li class="py-1">
                            <a href="#" class="text-muted">Mobile & Accessories <span class="float-end">(10,294)</span></a>
                        </li>
                        {# ... #}
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>