{% extends 'base.html.twig' %}

{% block title %}New ServiceMedical{% endblock %}

{% block body %}
    <h1>Create new ServiceMedical</h1>

    {{ include('service_medical/_form.html.twig') }}

    <a href="{{ path('app_service_medical_index') }}">back to list</a>
{% endblock %}
